body{
    font-family:'Lato', sans-serif ;
    background-color: cyan;
}
.header_div{
    background-color: greenyellow;
    color: lime;
}
.header_div p{
    font-family:'Noto Sans', sans-serif ;
    color: purple;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: skyblue;
}
.copy_right_footer{
    position: fixed;
    color:pink;
    bottom: 0;
    width: 100%;
    font-size: 19px;
    background-color: rgb(214, 138, 202);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px darkturquoise;
}